//Colors
$white: #ffffff;
$light-gray: #ececec;
$decorate-element-color: #f1f1f1;
$black: #000000;
$gray: #444444;

$light-green: #63d1bb;
$green-checkbox-radio: #62d1ba;
$light-green-hover: #59d5bc;
$dark-green: #56c3b2;
$dark-green-hover: #46c1ae;

// Fonts
$font-base: "OpenSans", "Arial", sans-serif;

// Device width
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1050px;

//Indents
$mobile-indents: 30px;
$tablet-desktop-indents: 50px;

//Others
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
